
.image-upload > input
{
	display: none;
}

.image-upload img
{
	width: 80px;
	cursor: pointer;
}

#camera
{
	margin-left: 10px;
}

img#blah
{
	width: 270px;
	height: 250px;
}

.row_send
{
	margin-top: 40px;
}


