.divlist ul {

	margin:0;
	padding:0;
	height:100%;
	width:100%;
	list-style-type: none;
	text-align: center;
	font-size:2em;
}

#firstli {

	margin-top:20px;
}

.divlist li {

	margin:50px;
}

.divlist li :hover{

	font-size:101%;
}

.divlist a {
	
	color:black;
	font-weight:bold;
}

