{% extends 'base.html.twig' %}

{% block nav %}
    <div class="container header_return">
        <div class="row">
            <div class="col-xs-2 header_pad">
                <a href="javascript:history.back()"><img src="{{ asset('bundles/MatchMyPicsBundle/img/flèche_retour.png') }}" class="return" alt="fleche_retour"></a>
            </div>
            <div class="col-xs-8 header_pad">
                <h2>Match My Pics</h2>
            </div>
            <div class="col-xs-2 header_pad">
                <img src="{{ asset('bundles/MatchMyPicsBundle/img/logo_blanc_pastille.png') }}" class="logowcs_header" alt="fleche_retour">
            </div>
        </div>
    </div>
{% endblock %}