{% extends 'MatchMyPicsBundle:user:layout_user.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/MatchMyPicsBundle/css/add_your_pics.css') }}">
{% endblock %}

{% block body %}
	
<div class="container">
	<div class="col-xs-12">
		<!--ligne pour ajouter notre photo-->
		<div class="row">
			<form class="" action="xxx.php?section=add" method="POST">
				<div class="image-upload"> 
					<label for="file-input" runat="server" id="camera">
						<img src="{{ asset('bundles/MatchMyPicsBundle/img/retro_camera.png') }}"/>
					</label>
					<div class="row_render">
						<div class="col-xs-12">
							<img id="blah" src="#" alt="your image" />
						</div>
					</div>
					<input id="file-input" type="file"/>
				</div>
			</form>   
		</div>
		<div class="row_send">
			<div class="col-xs-12">
				<form id="send" action="xxx.php?section=add" method="POST">
					<input type="submit" name="submit" value="Envoyer" />
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock  %}

{% block javascripts %}
	<script type='text/javascript'>
        previousPicture();
        getfile();
	</script>
{% endblock %}



