@font-face {
    font-family: "alwyn";
    src: url("../fonts/alwyn.ttf") format("truetype");
}
@font-face {
    font-family: "alwyn_bold";
    src: url("../fonts/alwyn_bold.ttf") format("truetype");
}
@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}
* {
	
	font-family: "alwyn";
}

body {

	margin:0;
	padding:0;
}

input {

	background: rgb(248, 172, 56);
	padding: 10px;
	border-radius: 10px;
	color: black;
	
}

img {

	width: 100%;
}
.header {

	border-bottom: 3px solid rgb(248, 172, 56);
	color: rgb(248, 172, 56);
	background: black;
}

